<h3><%= t('metadata') %></h3>

  <%= f.field_container :title_tag do %>
    <%= f.label :title_tag, t(:title_tag) %><br />
    <%= f.input :title_tag %>
  <% end %>

  <%= f.field_container :meta_keywords do %>
    <%= f.label :meta_keywords, t(:meta_keywords) %><br />
    <%= f.input :meta_keywords %>
  <% end %>

  <%= f.field_container :meta_description do %>
    <%= f.label :meta_description, t(:meta_description) %><br />
    <%= f.input :meta_description %>
  <% end %>
